extends ../layout

block content
    div.panel.panel-info
        div.panel-heading
            h4.inline-block #{Class.name}
            a(href='/classes/manage/edit/#{Class._id}').btn.btn-primary.pull-right.inline-block Edit
        div.panel-body
            dl.dl-horizontal.inline-block
                dt Name
                dd #{Class.name}
                dt Instructor
                dd #{Class.teacher}
            a(href='/assignments/manage/add/').btn.btn-success.pull-right.inline-block Add New Assignment


        table.table.table-striped.table-responsive
            thead
                tr
                    th Name
                    th Detail
                    th Completion
            tbody
                each assignment in Class.assignments
                    tr
                        td #{assignment.name}
                        td #{assignment.detail}
                        td
                            input(type='checkbox', disabled, value=assignment.completed)
                        td
                            a(href='/assignments/delete/#{assignment._id}/').btn.btn-danger.pull-right Remove
